/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  box-sizing: border-box;
}
html {
  background-color: #0D1F22;
  font-size: 16px;
}
.red {
  color: #FB6107;
}
.yellow {
  color: #F3DE2C;
}
.green {
  color: #7CB518;
}
.blue {
  color: #1E91D6;
}
main {
  text-align: center;
  margin: 100px auto 0;
  padding: 0 25px;
  max-width: 900px;
}
footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 15px;
  background-color: whitesmoke;
}
h1 {
  font-size: 5rem;
  font-family: "gambado-sans-forte", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 10px;
}
h2 {
  font-size: 2rem;
  font-family: "gambado-sans-forte", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 10px;
  color: whitesmoke;
  margin-bottom: 50px;
}
p {
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: whitesmoke;
}
footer p {
  font-size: .8rem;
  margin: 0;
  color: #0D1F22;
}
ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flow-root;
}
li {
  font-size: 1.5rem;
  font-family: "gambado-sans-forte", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 10px;
}
a, a:visited, a:active {
  text-decoration: none;
  border-bottom: solid 3px whitesmoke;
  transition: border-bottom 1s ease;
}
a.blue:hover {
 border-bottom: solid 3px #1E91D6; 
}
a.yellow:hover {
 border-bottom: solid 3px #F3DE2C;; 
}
a.red:hover {
 border-bottom: solid 3px #FB6107; 
}
.fun {
  width: 350px;
  margin: 100px auto;
  display: flow-root;
}
.one {
  width: 50px;
  height: 50px;
  margin: 0 25px 0 0;
  background-color: #FB6107;
  float: left;
}
.two {
  width: 50px;
  height: 50px;
  margin: 0 25px;
  border-radius: 100%;
  background-color: #1E91D6;
  float: left;
}
.three {
  width: 0;
  height: 0;
  margin: 0 25px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #7CB518;
  float: left;
}
.four {
  width: 50px;
  height: 50px;
  margin: 0 0 0 25px;
  background-color: #F3DE2C;
  float: left;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 900px) {
  html {
    font-size: 20px;
    padding: 0 50px;
  }
  main {
    margin-top: 150px;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  ul {
    display: flow-root;
    width: 809px;
  }
  li {
    font-size: 1.5rem;
    float: left;
    margin: 0 50px;
  }
  li:first-of-type {
    margin-left: 0;
  }
  li:last-of-type {
    margin-right: 0;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

